body 
{
  border:0px solid red;
  

  background: #F0B57F; /* Old browsers */
  background: -moz-linear-gradient(top,  #F0B57F 1%, #DE6D49 82%, #DE6D49 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F0B57F), color-stop(82%,#DE6D49), color-stop(100%,#DE6D49)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #F0B57F 1%,#DE6D49 82%,#DE6D49 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #F0B57F 1%,#DE6D49 82%,#DE6D49 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #F0B57F 1%,#DE6D49 82%,#DE6D49 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #F0B57F 1%,#DE6D49 82%,#DE6D49 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0B57F', endColorstr='#DE6D49',GradientType=0 ); /* IE6-9 */
}
#header
{
  margin-top: 10px;
  margin-left: 20px;
}
.options
{
  bottom:0;
  position:absolute;
  border:0px solid blue;
  padding:5px;
}
.item
{
  height:110px;
  width:250px;
  margin:20px;
  border:0px solid red;
  border-radius: 3px;
  color:lightred;
  display:inline-block;
  position:relative;
  padding:5px;

  background: #7fbbef; /* Old browsers */
  background: -moz-linear-gradient(top,  #7fbbef 0%, #7fbbef 19%, #4984DD 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fbbef), color-stop(19%,#7fbbef), color-stop(100%,#4984DD)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7fbbef 0%,#7fbbef 19%,#4984DD 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7fbbef 0%,#7fbbef 19%,#4984DD 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7fbbef 0%,#7fbbef 19%,#4984DD 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7fbbef 0%,#7fbbef 19%,#4984DD 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fbbef', endColorstr='#4984DD',GradientType=0 ); /* IE6-9 */
}
.item:hover
{
  background: #4984DD; /* Old browsers */
  background: -moz-linear-gradient(top,  #4984DD 1%, #7fbbef 82%, #7fbbef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4984DD), color-stop(82%,#7fbbef), color-stop(100%,#7fbbef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4984DD 1%,#7fbbef 82%,#7fbbef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4984DD 1%,#7fbbef 82%,#7fbbef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4984DD 1%,#7fbbef 82%,#7fbbef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4984DD 1%,#7fbbef 82%,#7fbbef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4984DD', endColorstr='#7fbbef',GradientType=0 ); /* IE6-9 */
}